apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: fail-cronjob
spec:
  startingDeadlineSeconds: 200
  schedule: '*/5 * * * *'
  jobTemplate:
    metadata:
      name: fail-job
    spec:
      backoffLimit: 5
      template:
        spec:
          restartPolicy: Never
          containers:
          - image: busybox
            name: hello
            args:
              - /bin/sh
              - -c
              - counter=0; while true; do if [ $counter -eq 50 ]; then exit 1; else echo "[$cdate] skip...."; fi; counter=$((counter+1)); sleep 1; done

---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: success-cronjob
spec:
  startingDeadlineSeconds: 200
  schedule: '* * * * *'
  jobTemplate:
    metadata:
      name: success-cronjob
    spec:
      backoffLimit: 5
      template:
        spec:
          restartPolicy: Never
          containers:
          - image: busybox
            name: hello
            args:
              - /bin/sh
              - -c
              - counter=0; while [ $counter -le 5 ]; do echo "[$counter] skip...."; counter=$((counter+1)); sleep 1; done
